.Glav {
  color: rgb(162, 162, 255);
  text-decoration: none; 
  margin-left: 20px;
  font-size: 250%;
  font-family: Georgia;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}

body {
  background-image: url('https://abrakadabra.fun/uploads/posts/2021-11/1636522043_1-abrakadabra-fun-p-tekstura-glini-1.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.Hi {
  margin-left: 470px;
  color: lightgreen;
  text-decoration: none;   
  font-size: 40px;
}

.Vetki {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top, rgb(255, 255, 255),rgb(49, 3, 255));
  text-decoration: none; 
  font-size: 25px;
  text-decoration: none;
}

a h1 {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(49, 3, 255));
  text-decoration: none;
  transition: 3s;
}

.PK {
  border-radius: 10px;
  font-size: 35px;
  color: rgb(242, 255, 0);
  margin-left: 1100px;
  margin-top: -345px;    
}

.phone {
  font-size: 35px;
  color: rgb(242, 255, 0);
  margin-left: 100px;
  border-radius: 10px;
}

.GlavInd {
  color: yellow;
  font-size: 30px;  
  font-family: cursive;
  margin-left: 550px;
}

img {
  border-radius: 10px;
}

footer {
  font-size: 10px;
  text-align: center;
  background: #a2dafc;
  font-family: comic sans ms;
  margin-top: 220px;
}

.h1G {
  color: yellow;
  font-family: cursive;
}

h1 {
  word-wrap: break-word;
  overflow-wrap: break-word;    
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.imgPage {
  border-radius: 50px;
  height: 40%;
  width: 40%;
  transition: 3s;
  max-width: 100%;
}

.imgPage:hover {
  height: 75%;
  width: 75%;
  max-width: 100%;
}  

.imgPageFont {
  border-radius: 50px;
  height: 350px;
  width: 400px;
  transition: 3s;
  max-width: 100%;
}

.imgPageFont:hover {
  height: 550px;
  width: 550px;
  max-width: 100%;
} 

.ButTop {
  background-color: yellow;
  color: darkblue; 
  border: 3px solid #7bff82;
  border-radius: 8px;
  padding: 48px 44px;
  cursor: pointer;
  margin-left: 1300px;
  transition: 3s;
  position: fixed;
}

.ButTop:hover {
  background-color: darkblue;
  border-color: #7bff82;
  color: yellow;
}

.ld {
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  transition: 3s;
}

.ld:hover {
  background-color: black;
  border: 2px solid white;
  border-radius: 40px;
}